-- 1. Снимаем старый unique constraint с subject_id, если он был
ALTER TABLE subject_tutor_conversations DROP CONSTRAINT IF EXISTS subject_tutor_conversations_subject_id_key;

-- 2. Добавляем новые колонки
ALTER TABLE subject_tutor_conversations 
  ADD COLUMN IF NOT EXISTS topic_id VARCHAR(255) NOT NULL DEFAULT 'general',
  ADD COLUMN IF NOT EXISTS chat_mode VARCHAR(50) NOT NULL DEFAULT 'mentor';

-- 3. Добавляем составной уникальный индекс
CREATE UNIQUE INDEX IF NOT EXISTS uix_subject_topic_mode 
  ON subject_tutor_conversations (subject_id, topic_id, chat_mode);
